* {
  box-sizing: border-box;
}
.student-owner {
  color: red;
  border: solid 1px black;
}

.student-contributor {
  font-size: 20px;
  margin-top: 10px;
  color:palevioletred;
  font-weight: bold;
  border: 1px solid teal;
}
